/*SideBar*/
.SideBar {
  position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  z-index: 1;
}

.SideBarIcon {
  position: fixed;
  top: 100px;
  right: 0;
  width: 2.25em;
  height: 2.25em;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
}

.SideBarContent {
  user-select: none;
  margin: auto;
}

.SideBarContent h1 {
  color: white;
  font-size: 1.5rem; 
  line-height: 72px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  text-shadow: 0 1px 1px rgb(255, 56, 56);
}

/* Collapsed Sidebar CSS */
.SideBarCollapsed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 52px;
  z-index: 1;
}

.SideBarCollapsed .SideBarIcon {
  margin-right: 0;
}

.SideBarCollapsed .SideBarContent {
  display: none;
}
/*SideBar Ends*/

ul.noBullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
  }

  .searchListContainer {
    /*border-style: dashed; /* test div box location*/
    margin: auto; 
    background-color: rgba(100, 100, 100, 0.8);
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
  }

  .loadMore {
    margin: auto;
    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 40px;
    box-shadow: 2px 2px 5px #c7c3c3;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      #ffdd6d80,
      rgb(255, 232, 215) 100%
    );
    color: #1c4e91;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .loadMore:hover {
    background-color: #ffdd6d80;
  }