ul.noBullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }

  div.History {
    width: 1050px;
    height: 900px;
    /*border-style: dashed; /* test div box location*/
    margin: auto; 
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto; 
    border-radius: 5px;
    border: none;
  }

  h1 {
    color: #000000;
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem; 
    line-height: 72px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
  }
  
  p {
    color: #000000;
    font-size: 1.2rem;
    font-family: "Libre Baskerville", serif;
    line-height: 25px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
  }

  hr.style {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
  }
  hr.style:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff;
  }

  .alignItems {
    display: flex;
    justify-content: space-between;
  }
  
  .alignContent {
    display: flex;
  }
  
  .alignTextItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .icon {
    width: 1.6em;
    height: 1.6em;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    color: rgb(222, 152, 76);
  }

  .History a:hover {
    text-decoration: underline;
    text-decoration-color:rgb(0, 0, 0);
    text-decoration-style: solid;
  }