div.SellerInfo {
  width: 720px;
  height: 140px;
  /*border-style: dashed; /* test div box location*/
  margin: auto;
}

.contactSellerButton {
  border-radius: 10px;
  border-style: none;
  width: 240px;
  height: 40px;
  box-shadow: 2px 2px 5px #c7c3c3;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, #ffdd6d80, rgb(255, 232, 215) 100%);
  color: #1c4e91;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 40px;
}

.contactSellerButton:hover {
  background-color: #ffdd6d80;
}

.backButton {
  border-radius: 10px;
  border-style: none;
  width: 240px;
  height: 40px;
  box-shadow: 2px 2px 5px #c7c3c3;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(75, 75, 75, 0.099) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #1c4e91;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 40px;
}

.backButton:hover {
  background-color: #e8e8e880;
}

.status {
  background-color: #fff;
  color: black;
  font-size: 1.3rem;
  padding: 0px;
  border-radius: 5px;
  border: 5px groove orange;
  margin: 10px 1px;
  width: 12rem;
  height: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

p {
  color: #000000;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
}

hr.style {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  color: rgb(185, 185, 185);
  text-align: center;
  width: 280px;
  margin: 10px 0px;
}

.price {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  margin-left: 23%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.address {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-left: 23%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.productTitle {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  margin-left: 23%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.descriptionHeader {
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  margin-left: 23%;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 32px;
}

.bold {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-left: 3%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.textArea {
  width: 720px;
  height: 400px;
  font-size: 18px;
  font-weight: 400;
  border-style: none;
  background-color: #f0f2f5;
  margin-left: 23%;
  margin-top: 40px;
  overflow: auto;
}

.textArea:focus {
  outline: 0;
}