.submitButton {
  border-radius: 10px;
  border-style: none;
  width: 240px;
  height: 40px;
  box-shadow: 2px 2px 5px #c7c3c3;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    #ffdd6d80,
    rgb(255, 232, 215) 100%
  );
  color: #1c4e91;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  margin: 20px 10px;
}

.submitButton:hover {
  background-color: #ffdd6d80;
}

h1 {
  color: #000000;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem; 
  line-height: 72px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

p {
  color: #000000;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
}
