.button {
  background-color: #fffccc;
  color: black;
  font-size: 1rem;
  padding: 5px 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-left: 5px;
  margin-top: 5px;
}

.button:hover {
  background-color: #fffccc80;
}